body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro-bg{
  background: url(./images/31.jpg) center/cover;
}
.Academia{ 
  font-weight: 70px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
h4{
  color: #ABE098;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.logo{
  height: 70px;
}
.testimonial-bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(./images/testimonials-bg.jpeg) center/cover;
  height: 400px;
}
.testi{
  border-radius: 50%;
  width: 80px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  opacity: 0.5;
  transition: opacity 0.3s;
  border: none;
}
.carousel-indicators {
  justify-content: center;
  margin-top: 1rem;
  position: static; 
}
.carousel-indicators .active {
  opacity: 1;
  background-color:  #0d6efd; 
}
.footer-bg{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(./images/footer.jpeg) center/cover;
}
.form-btn{
  background: #8b62ff;
  color: white;
  border: #8b62ff solid 2px;
  height: 38px;
  position: relative;
  left: 170px;
  bottom: 38px;
  z-index: 1;
}
.form-btn:hover{
  background: linear-gradient(90deg,#8b62ff 0,#3b1bff);
  color: white;
  border: linear-gradient(90deg,#8b62ff 0,#3b1bff) solid 2px;
}
.footer-item{
 font-family: Raleway,sans-serif;
 font-size: 20px;
}
.line{
  width: 90%;
  margin-top: 130px;
  margin-left: 80px;
  border: 1px solid #fff;
}
.cupon:hover{
  background: #198754 ;
  color: white;
  border: #198754 solid 2px;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1.2s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.course-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}
.course-card {
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: scale(1.03);
}
